<h3>{{viewTitle}}</h3>

<form action="/quiz" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{quiz._id}}">
    
    <div class="form-group">
        <label>Question</label>
        <input type="text" class="form-control" name="question" placeholder="Question" value="{{quiz.question}}">
        <div class="text-danger">
            {{quiz.questionError}}</div>
    </div>

    <div class="form-row"> 
    <div class="form-group">
        <label>Option01</label>
        <input type="text" class="form-control" name="option01" placeholder="Option01" value="{{quiz.option01}}">
        <div class="text-danger">
            {{quiz.errorOption01}}</div>

    </div>

                
   
        <div class="form-group col-md-6">
            <label>Option02</label>
            <input type="text" class="form-control" name="option02" placeholder="Option02" value="{{quiz.option02}}">
        <div class="text-danger">
            {{quiz.errorOption02}}</div>
        </div>

        <div class="form-group col-md-6">
            <label>Option03</label>
            <input type="text" class="form-control" name="option03" placeholder="Option03" value="{{quiz.option03}}">
        <div class="text-danger">
            {{quiz.errorOption03}}</div>
        </div>
       
 <div class="form-group col-md-6">
            <label>Option04</label>
            <input type="text" class="form-control" name="option04" placeholder="Option04" value="{{quiz.option04}}">
        <div class="text-danger">
            {{quiz.errorOption04}}</div>
        </div>

        <div class="form-group col-md-6">
            <label>Answer</label>
            <input type="text" class="form-control" name="answer" placeholder="Answer" value="{{quiz.answer}}">
  
             <div class="text-danger">
            {{quiz.errorAnswer}}</div>
            </div>

    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/quiz/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
          </div>
</form>